/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/08/2017, 19:35:47
    Author     : 2244339
*/

body{
    background-color: #ecffec;
}

.img-logo{
    width: 135px;
}